*{
    margin: 0;
    padding: 0;
}
h3{
    height: 100px;
    width: 960px;
    background: #eeeeee;
    margin: 50px auto;
    /*margin-top: 50px;*/
    text-align: center;
    line-height: 100px;
}
#img-box{
    width: 960px;
    height: 540px;
    margin: 0 auto;
    background: url("img/01.jpg") no-repeat;
    background-size: 100%;
}
#content{
    width: 960px;
    margin:0 auto;
    overflow: hidden;
}
#content div{
    height: 300px;
    display: table;
}
#content div p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#left{
    width: 630px;
    background: #ff0000;
    float: left;
}
#right {
    width: 300px;
    float: right;
    background: #00ffff;
}
@media screen and (max-width: 960px) {
    h3{
        width: 100%;
    }
    #img-box{
        width: 100%;
        background-image: url("img/01_s_2x.jpg");
        /*height: 56vw;*/
        padding-top:56%;
        height: 0;
    }
#content{
    width: 100%;
}
    #left{
        width: 66%;
    }
    #right{
        width: 31%;
    }
}
@media screen and (max-width: 480px) {
    /*#img-box{*/
        /*width: 100%;*/
    /*}*/
    /*#content{*/
        /*width: 100%;*/
    /*}*/
    #left{
        width: 100%;
    }
    #right{
        width: 100%;
    }
}